*.csv

drone_simulator_basic/drone_simulator_basic/scripts/__pycache__/

*.DS_Store

*.pyc

code/trajectory.m
code/trajectory2.m
drone_simulator_basic/drone_simulator_basic/scripts/test_bill.py
drone_simulator_basic/drone_simulator_basic/scripts/test.py
